:root {
    --backdrop: #f8f8f8;
    --navbar: #3d517c;
    --headerText: #606060;
    --frame: #1f1e1e;
}

html, 
.main, 
.container, 
.row, 
.spacer{
    background-color: var(--backdrop);
}

body {
    font-family:sans-serif;
}

h1 {
    font-weight: bold;
    color: var(--headerText);
}

p {
    font-size: 125%;
}

.spacer {
    height: 20px;
}

.navbar {
    min-height: 4rem;
    background-color: var(--navbar);
}

.navbar-brand {
    padding-left: 10px;
}

.nav-item {
    font-weight:bold;
    padding-right: 1em;
}

.headshot{
    border: solid 3px var(--frame);
    border-radius: 50%;
    width: 20%;
    float: left;
    margin-right:20px;
}
